New coreBOS Module

Name: Desarrollos
Repository: ssh://git@hosting.corebos.org:8933/cbCommission
Internal Name: cbDesarrollos

- Block: cbDesarrollos

`columnname`, `uitype`, `fieldname`, `fieldlabel`, `displaytype`, `type_of_data`
('referencia', '1', 'referencia', 'referencia', 1, 'V~M'),
('desarrollono', '4', 'desarrollono', 'desarrollono', 1, 'V~M'),    MODULE REFERENCE FIELD

('fechaini', '5', 'fechaini', 'fechaini', 1, 'D~O'),
('dvestado', '15', 'dvestado', 'dvestado', 1, 'V~O'), values: En Proceso, Terminado, Detenido

('fechafin', '5', 'fechafin', 'fechafin', 1, 'D~O'),
('activo', '56', 'activo', 'dvactivo', 1, 'C~O'),

('proyecto', '10', 'proyecto', 'proyecto', 1, 'I~O'),  Project
('presupuesto', '7', 'presupuesto', 'presupuesto', 1, 'I~O'),  int (11)

('smownerid', '53', 'assigned_user_id', 'Assigned To'),
('createdtime', '70', 'createdtime', 'Created Time'),

('modifiedtime', '70', 'modifiedtime', 'Modified Time'),

- Block: Description
('description', '19', 'description', 'Description', 1, 'V~O'),


List View Fields: desarrollono, referencia, fechaini, fechafin, proyecto, Assigned To
Related List Fields: desarrollono, referencia, fechaini, fechafin, proyecto, Assigned To
Popup Search Fields: desarrollono, referencia, fechaini, fechafin, proyecto, Assigned To

Related Lists:
 - Documentos
 - SalesOrder (m:m get_related_list)

Module: public

Additional work.

- Añadir bloque de desarrollo vamos a mostrar "Hello World"
